@font-face {
  font-family: "TitilliumLight";
  src: url("/static/fonts/Titillium_Web/TitilliumWeb-Light.ttf");
}
html {
  height: 100%;
  cursor: default;
}

body {
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
}
html, body {
  background-color: #33404d;
  font-family: "TitilliumLight","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  color: #fff;
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
}
#main-container {
  /* padding: 30px 0; */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  /* margin: 10px; */
  height: 100%;
}
@keyframes shrink {
  from {width: 40%;}
  to {width: 30%;}
}
@keyframes enlarge {
  from {width: 100%;}
  to {width: 100%;}
}
@keyframes shrinkTitle {
  from {font-size: 70px;}
  to {font-size: 50px;}
}
#newUserForm {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #777;
  width:100%;
  /* margin: 40px; */
  background-color: #33404d;
  align-items: center;
  justify-content: center;
  height: 100%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  /* padding: 100px 0; */
  /* float: right; */
  animation-name: enlarge;
  animation-duration: 0.2s;
  animation-play-state: paused;
  animation-fill-mode:forwards;
  padding: 90px 0 0 0;
  /* animation-timing-function: ease-out; */
}
#left-col {
  z-index: 5;
  height: 100%;
  width: 40%;
  position: relative;
  background-color: #1e3344;
  animation-name: shrink;
  animation-duration: 0.2s;
  animation-play-state: paused;
  animation-fill-mode:forwards;
  left:0;
  transition: left 0.3s;
  /* animation-timing-function: ease-out; */
}
#info {
  display: inline;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  #left-col {
    position: absolute;
    width:50%;
    left:-30%;
  }
  #small-screen-ele {
    display: inline;
    z-index: 10;
  }
  #hamburgerIntro {
    display: block;
    z-index: 10;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  #channel-overlay {
    width: 100%;
  }
}
a, a:active, a:focus{
  outline: none;
}
@media only screen and (min-width: 769px) {

  #channel-overlay {
    width: 80%;
  }
  #left-col {
    position: relative;
    left:0;
  }
  #small-screen-ele {
    display: none;
  }
  #hamburgerIntro {
    display: none;
  }
}
#title {
  /* height: 20%; */
  height: 100px;
  text-align: center;
  padding: 60px 0;
}
#left-inner {
  /* padding: 10%; */
  font-size: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 200px;
  /* height:100%; */
  overflow-y: auto;
  /* animation-timing-function: ease-out; */
}
h1 {
  font-size: 70px;
  text-shadow: 1px 1px 70px white, 0 0 50px #959595, 0 0 10px #353594;
  margin: auto auto auto auto;
  animation-name: shrinkTitle;
  animation-duration: 0.2s;
  animation-play-state: paused;
  animation-fill-mode:forwards;
  /* animation-timing-function: ease-out; */
}
#displayNameForm {
  width: 60%;
  top: 30%;
  height: 200px;
  line-height: 1.8;
  border-width: 1px;
  border-radius: 7px;
  border-style: solid;
  border-color: #999;
  background-color: #44515e;
  margin: auto auto auto auto;
  padding: 10% 0;
}
#right-title {
  margin: 10%;
  text-align: center;
}
#new-message {
  cursor: text;
  background-color: black;
  opacity: 40%;
  color: white;
  border-width: 0;
  border-radius: 5px;
  height: 23px;
  padding: 7px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-top: 15px;
  position: relative;
  top: 4px;
}
#submit-btn, #send-btn {
  margin: 15px;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  background-color: #59f;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
#displayName {
  cursor: text;
  font-size: 16px;
  padding:5px;
  margin-top: 20px;;
}
#display-name {
  margin: 20px;
}
#existing-users {
  background-color: #0f2434;
  padding:10px;
  margin-top:15px;
  margin-left: 15px;
  border-radius: 4px;
  width: 80%;
  height: 40%;
}
#channel-overlay {
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
#create-channel-strip {
  position: absolute;
  top: 45%;
  width:100%;
  height: 100px;
  padding: 0 auto;
  text-align: center;
  font-size: 16px;
  background-color: white;
  color: black;
}
#new-channel-name {
  position: relative;
  font-family: "TitilliumLight","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight:100;
  top: 28px;
  padding: 10px;
}
#create-channel-btn {
  background-color: white;
  color: inherit;
  position: relative;
  top: 26px;
  left: 15px;
  text-align: center;
  border: solid;
  border-width: 1px;
  border-radius: 7px;
  border-color: black;
  padding: 10px;
  transition: all 0.2s;
}
#create-channel-btn:hover {
  background-color: #444;
  color: white;
}
#message-box {
  background-color: #324252;
  font-size: 18px;
  height: 100%;
  width:100%;
  /* border-radius: 10px; */
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: white;
  display: none;
  flex-flow: column;
  /* position: relative; */
  margin-top: 0;
  /* margin: auto auto auto auto; */
}
#message-box-header {
  color: #999;
  height: 70px;
  text-align: left;
  flex-shrink: 0;
  display: flex;
}
#channel-select {
  background-color: #0f2434;
  padding:10px;
  margin-top:15px;
  margin-left: 15px;
  border-radius: 4px;
  width: 80%;
  height: 40%;
}

#messages {
  padding: 50px;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: #999;
  overflow-y: auto;
  height: 97%;
  background-color: rgba(0,0,0,0.1);
  flex-grow: 1;
}
.message {
  width: 100%;
  padding-bottom: 20px;
}

.message::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
.bubble {
  width: max-content;
  max-width: 40%;
  padding: 6px 20px 15px 20px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 13px;
}
.user-bubble {
  float: right;
}
.sender {
  text-align: left;
  font-size: 15px;
  line-height: 0;
}
.message-text {
  text-align: left;
  font-size: 18px;
}
.date {
  text-align: right;
  font-size: 12px;
  color: #999;
  line-height: 0;
}
#send-message {
  /* z-index: -1; */
  align-self: flex-end;
  flex-shrink: 0;
  height: 90px;
  background-color: #324252;
  /* margin-bottom: 20px; */
  width: 100%;
}
#new-message {
  width: 80%;
  z-index: 0;
  /* overflow: hidden; */
}
#send-btn {
  width: 10%;
  position: relative;
  top: 0;
}
